/* home styling */
.home{
    color: var(--white);
    margin: 50px 40px 20px 40px;
}

.home-title{
    text-align: center;
}

.home-sub-title{
    text-align: center;
}

.home-explainer{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    font-size: 14px;
    margin: auto;
    /* background-color: var(--white); */
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.explainer-titles{
    width: 100%;
    color: var(--white);
    margin-bottom: 15px;
}

.home-explainer-text{
    width: 65%;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--black);
    text-align: center;
    padding: 25px;
    flex: 1;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
}

.home-explainer-img{
    width: 45%;
    border-radius: 10px;
}

.quote-container{
    width: 70%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: solid 2px rebeccapurple; */
}

.quote-box{
    display: inline;
    width: 45%;
    background: var(--white);
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.quote-img{
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
    margin: 0 5px 0 0;
    float: left;
    color: var(--black);
}

.quote-script{
    color: var(--black);
}

.quote-user{
    color: var(--black);
}

.quote-title{
    /* text-align: center; */
    width: 100%;
}

.secondary-container{
    /* border: solid 1px saddlebrown; */
    display: flex;
}

.latest_post_container{
    width: 30%;
    color: var(--black);
}

.latest_post_title{
    width: 100%;
    margin-top: 25px;
    color: var(--white);
}

.latest_post_box{
    background: var(--white);
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    margin: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.post_title{
    width: 100%;
}
/* home styling ends */

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    .home{
        margin: 10px;
    }

    .home-explainer{
        width: 98%;
    }

    .home-explainer-img{
        width: 80%;
        margin: auto;
    }

    .home-explainer-text{
        margin: 15px 5% 0 5%;
        width: 80%;
    }
      
    .secondary-container{
        flex-direction: column;
    }

    .quote-container{
        width: 95%;
    }

    .quote-box{
        width: 95%;
    }

    .quote-img{
        margin: 0 5px 0 0;
        float: left;
    }

    .latest_post_container{
        width: 95%;
    }

    .latest_post_box{
        width: 95%;
    }
}