.recs-container{
    min-height: 80vh;
}

.recs_overall_title{
    text-align: center;
    color: var(--white);
}

.recs_overall_sub_title{
    text-align: center;
    color: var(--white);
    margin-bottom: 20px;
}

.recs-list{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.post-container{
    position: relative;
    display: inline;
    height: 35vh;
    margin-bottom: 20px;
    background-color: var(--white);
    width: 45%;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
}

.title{
    font-size: 20px;
    margin: 8px;
}

.rec-img{
    margin: 5px;
    width: 22%;
    height: 22%;
    float: left;
}

.text{
    font-size: 15px;
    margin: 8px;
}

.link-container{
    display: flex;
}

.link{
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--meat-red);
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    -webkit-transition : -webkit-filter 100ms linear;
    transition: -webkit-filter 100ms linear

}

.link:hover{
    filter: brightness(1.2);
    -webkit-transition : -webkit-filter 100ms linear;
    transition: -webkit-filter 100ms linear
}

.flip-colour{
    filter: invert(100%);
}
/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {

    .wrapper{
        width: 90%;
    }

    .post-list{
        flex-wrap: wrap;
        width: 90%;
    }

}
